
<% unless @survey.questions.empty? %>
  <ol class="question_list">
  <% @survey.questions.each do |q| %>
    <li>
      <%= q.content %>
      <a class="delete_question" href="/question/delete/<%= q.id %>">Delete</a>
      <ul>
        <% q.choices.each_with_index do |c| %>
          <li><input type="radio" name="questions[<%= q.id %>]" value="<%= c.id %>"><%= c.content %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ol>
<% end %>
