
<% unless @survey.questions.empty? %>
  <ol class="question_list">
  <% @survey.questions.each do |q| %>
    <li>
      <% unless q.pictures.empty?  %>
        <a class="fancybox" href="<%= q.pictures.first.image %>"><img src="<%= q.pictures.first.image.thumb  %>"></a><br>
      <% end %>
      <%= q.content %>
      <ul>
        <% q.choices.each_with_index do |c| %>
          <li><input type="radio" name="questions[<%= q.id %>]" value="<%= c.id %>"><%= c.content %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ol>
<% end %>
