<% unless @user.created_surveys.empty? %>
  <h2><%= @user.name.capitalize %>'s Surveys:</h2>
  <ol class="survey_list">
  <% @user.created_surveys.each do |s| %>
    <li>
      <ul class="survey_list">
        <li class="survey_title"><a href="/survey/<%= s.id %>"><%= s.title %></a></li>
            <% unless s.pictures.empty? %>
              <li><img src="<%= s.pictures.first.image.mini_thumb %>"></li>
            <% end %>
        <li><form><label for="title" >Permalink: </label><input type="text" size="25" name="title" value="http://localhost:9292/survey/<%= s.id %>"></form></li>
        <li><a href="/survey/<%= s.id %>/results">Results</a></li>
        <li><a href="/survey/edit/<%= s.id %>">Edit</a></li>
        <li><a class="delete" href="/survey/delete/<%= s.id %>">Delete</a></li>
      </ul>
    </li>
  <% end %>
  </ol>
<% end %>
