<% unless @user.created_surveys.empty? %>
  <% if Sinatra::Application.production? %>
    <% base_url = "http://infinite-dawn-7663.herokuapp.com/survey" %>
  <% else %>
    <% base_url = "http://localhost:9292/survey" %>
  <% end %>
  
  
  <h2><%= @user.name.capitalize %>'s Surveys:</h2>
  <ol class="survey_list">
  <% @user.created_surveys.each do |s| %>
    <li>
      <ul class="survey_list">
        <li class="survey_title"><a href="/survey/<%= s.id %>"><%= s.title %></a></li>
            <% unless s.pictures.empty? %>
              <li><%= erb :_survey_image, :layout => false, :locals => {:survey => s} %></li>
            <% end %>
        <li><form><label for="title" >Permalink: </label><input type="text" size="25" name="title" value="<%= base_url %>/<%= s.id.to_s %>"></form></li>
        <li><a href="/survey/<%= s.id %>/results">Results</a></li>
        <li><a href="/survey/edit/<%= s.id %>">Edit</a></li>
        <li><a class="delete" href="/survey/delete/<%= s.id %>">Delete</a></li>
      </ul>
    </li>
  <% end %>
  </ol>
<% end %>
