<h1><%= @page_status %> Survey, Hoser</h1>

<% if @survey %>
  <h2><%= @survey.title %></h2>
  <h3><%= @survey.description %></h3>

  <% unless @survey.pictures.empty? %>
    <img src="<%= @survey.pictures.first.image.gallery %>">
  <% end %>

  <div class="question_printer_3000"><%= erb :_create_survey_question %></div>

  <%=erb :_question_form %>
<% end %>
