<%= redirect '/profile' if logged_in? %>


<% @user ||= User.new %>

<h1>Login</h1>

<% if @errors %>
  <p><%= @errors %></p>
<% end %>

<form action="/sessions/new" method="post" class="login-box">
  <input type="text" name="email" class="input-small" value="<%= @user.email %>" placeholder="Email">
  <input type="password" name="password" class="input-small" placeholder="Password">
  <input type="submit" value="Login" class="btn">
</form>

<h1>Sign up</h1>

<% @user.errors.full_messages.each do |error| %>
  <p><%= error %></p>
<% end %>


<form action="/users/new" method="post" class="login-box">
    <input type="text" name="signup[name]" class="input-small" value="<%= @user.name %>" placeholder="Name">
  <input type="text" name="signup[email]" class="input-small" value="<%= @user.email %>" placeholder="Email">
  <input type="password" name="signup[password]" class="input-small" placeholder="Password">
  <input type="submit" value="Sign Up" class="btn">
</form>
