<%= redirect '/profile' if logged_in? %>


<% @user ||= User.new %>

<h1>Login</h1>

<% if @errors %>
  <p><%= @errors %></p>
<% end %>

<form id="login" action="/sessions/new" method="post" class="login-box">
  <span class="hidden errors" id="login-email-errors"></span>
  <input type="text" name="email" class="input-small" value="<%= @user.email %>" placeholder="Email">
  <input type="password" name="password" class="input-small" placeholder="Password">
  <span class="hidden errors" id="login-errors"></span>
  <input type="submit" value="Login" class="btn">
</form>

<h1>Sign up</h1>

<% @user.errors.full_messages.each do |error| %>
  <p><%= error %></p>
<% end %>


<form id="signup" action="/users/new" method="post" class="login-box">
  <span class="hidden errors" id="name-errors"></span>
  <input type="text" name="signup[name]" class="input-small" required pattern="J|j|\w\w+" value="<%= @user.name %>" placeholder="Name">
  <span class="hidden errors" id="email-errors"></span>
  <input type="text" name="signup[email]" class="input-small" required pattern="([0-9a-zA-Z]([-\.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})" value="<%= @user.email %>" placeholder="Email">
  <span class="hidden errors" id="password-errors"></span>
  <input type="password" name="signup[password]" class="input-small" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
  <input type="submit" value="Sign Up" class="btn">
</form>

<script src="/js/signup_validations.js"></script>
<script src="/js/login_validations.js"></script>