<h1><%= @user.name.capitalize %>'s Profile<h1>

<h2>Create a Survey:</h2>

  <form action="/survey/new" method="post" id="create_survey">
    <input type="text" name="title" placeholder="Survey Title">
    <textarea type="text" name="description" placeholder="Describe your amazing survey here, buddy."></textarea>
    <input type="submit" value="Let's get started!" class="button">
  </form>



<button class="button"><a href="/survey/new">Create a survey, hoser.</a></button>
=======


<% unless @user.created_surveys.to_a.empty? %>
  <h2><%= @user.name.capitalize %>'s Surveys:</h2>
  <ol class="survey_list">
  <% @user.created_surveys.each do |s| %>
    <li>
      <ul class="survey_list">
        <li><a href="/survey/<%= s.id %>"><%= s.title %></a></li>
            <% unless s.pictures.empty? %>
              <li><img src="<%= s.pictures.first.image.mini_thumb %>"></li>
            <% end %>
        <li><form><label for="title" >Permalink: </label><input type="text" size="25" name="title" value="http://localhost:9292/survey/<%= s.id %>"></form></li>
        <li><a href="/survey/edit/<%= s.id %>">Edit</a></li>
        <li><a href="/survey/delete/<%= s.id %>">Delete</a></li>
      </ul>
    </li>
  <% end %>
  </ol>
<% end %>


