<h1><%= @survey.title %></h1>

<form method='post' action="/survey/<%= @survey.id %>">
<ol>
<% @survey.questions.each do |q| %>
  <li><%= q.content %></li>
  
    <% q.choices.each_with_index do |c| %>
      <input type="radio" name="questions[<%= q.id %>]" value="<%= c.id %>"><%= c.content %><br>
  <% end %>
<% end %>
</ol>
  <input type="submit" value="Submit">
</form>

