<h1>Results for <%= @survey.title %></h1>
<h3>Completed by <%= @survey.num_respondents %>
 respondents</h3>
<!-- <%= params %> (used for debugging)-->
<ol>


<% @question_strings.length.times do |i| %>
  <li><%= @question_strings[i] %> (<%= @q_response_rates[i] %> respondents, <%= 
  (@q_response_rates[i].to_f / @overall_respondents * 100).round(0) %>% of all survey respondents)</li>
  <dl>
    <% @choice_strings[i].length.times do |j| %>
      <dt><%= @choice_strings[i][j] %></dt>
      <dd>
        <%= (@c_response_rates[i][j].to_f / @q_response_rates[i] * 100).round(0) %>% (total respondents:<%=  @c_response_rates[i][j]  %>) <br>
      </dd>
    <% end %>
  </dl>
  <br>
  <div class="visualization" id="visualization<%= i %>">Loading bar chart...</div>
  <br>
<% end %>

</ol>

<div id="visualization"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages: ['corechart']});
</script>

<% @survey.questions.length.times do |i| %>
<% end %>
 <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
          ['Question #', 'Austria', 'Bulgaria', 'Denmark', 'Greece'],
          ['1',  1336060,    400361,    1001582,   997974],
          
        ]);
      
        // Create and draw the visualization 
        new google.visualization.BarChart(document.getElementById('visualization')).
            draw(data,
                 {title:"Yearly Coffee Consumption by Country",
                  width:600, height:400,
                  vAxis: {title: "Year"},
                  hAxis: {title: "Cups"}}
            );
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>
<!-- <script type="text/javascript" src="/js/data_vis.js"></script> -->
