<h1>Results for <%= @survey.title %></h1>
<h3>Completed by <%= @survey.num_respondents %>
 respondents</h3>
<!-- <%= params %> (used for debugging)-->
<ol>


<% @survey.questions.each_with_index do |q, i| %>
  <li><%= q.content %> (<%= q.num_respondents %> respondents, <%= 
  (q.num_respondents.to_f / @survey.num_respondents * 100).round(0) %>% of all survey respondents)</li>
  <dl>
    <% q.choices.each_with_index do |c| %>
      <dt><%= c.content %></dt>
      <dd>
        <%= (c.num_respondents.to_f / q.num_respondents * 100).round(0) %>% (total respondents:<%=  c.num_respondents  %>) <br>
      </dd>
    <% end %>
  </dl>
  <br>
  <div class="visualization" id="visualization<%= i %>">Loading bar chart...</div>
  <br>
<% end %>

</ol>

<div id="visualization"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages: ['corechart']});
</script>


 <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
          ['Question #', 'Austria', 'Bulgaria', 'Denmark', 'Greece'],
          ['2003',  1336060,    400361,    1001582,   997974],
          ['2004',  1538156,    366849,    1119450,   941795],
          ['2005',  1576579,    440514,    993360,    930593],
          ['2006',  1600652,    434552,    1004163,   897127],
          ['2007',  1968113,    393032,    979198,    1080887],
          ['2008',  1901067,    517206,    916965,    1056036]
        ]);
      
        // Create and draw the visualization 
        new google.visualization.BarChart(document.getElementById('visualization')).
            draw(data,
                 {title:"Yearly Coffee Consumption by Country",
                  width:600, height:400,
                  vAxis: {title: "Year"},
                  hAxis: {title: "Cups"}}
            );
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>
<!-- <script type="text/javascript" src="/js/data_vis.js"></script> -->
